<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LeoFinance Bridges</title>
    <link rel="stylesheet" href="./index/style.css">
  </head>
  <body>
    <article class="leaderboard">
    <header>
      <h1 class="leaderboard__title"><span class="leaderboard__title--top">Leo Bridges</span><span class="leaderboard__title--bottom">Ethereum, BNB Smart Chain, Polygon</span></h1>
    </header>

    <main class="leaderboard__profiles">

      <article class="leaderboard__profile">
        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/7221.png" alt="Wrapped LEO (ethereum)" class="leaderboard__picture">
        <img src="https://cryptologos.cc/logos/ethereum-eth-logo.png" alt="Wrapped LEO (ethereum)" class="leaderboard__token_logo">
        <span class="leaderboard__name">wLEO</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/7221.png" alt="BNB Smart Chain Leo" class="leaderboard__picture">
        <img src="https://brandlogos.net/wp-content/uploads/2021/11/binance-logo.png" alt="BNB Smart Chain" class="leaderboard__token_logo">
        <span class="leaderboard__name">bLEO</span>
      </article>
      <article class="leaderboard__profile">
        <img src="https://www.liblogo.com/img-logo/hi2716h4b1-hive-blockchain-logo-hive-medium.png" alt="BNB Smart Chain Hive" class="leaderboard__picture">
        <img src="https://brandlogos.net/wp-content/uploads/2021/11/binance-logo.png" alt="BNB Smart Chain" class="leaderboard__token_logo">
        <span class="leaderboard__name">bHIVE</span>
      </article>
      <article class="leaderboard__profile">
        <img src="./assets/hbd-green.png" alt="BNB Smart Chain Hive Backed Dollar" class="leaderboard__picture">
        <img src="https://brandlogos.net/wp-content/uploads/2021/11/binance-logo.png" alt="BNB Smart Chain" class="leaderboard__token_logo">
        <span class="leaderboard__name">bHBD</span>
      </article>

      <article class="leaderboard__profile">
        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/7221.png" alt="Polygon Leo" class="leaderboard__picture">
        <img src="https://static.vecteezy.com/system/resources/previews/005/597/229/original/polygon-logo-crypto-currency-symbol-isolated-vector.jpg" alt="Polygon" class="leaderboard__token_logo">
        <span class="leaderboard__name">pLEO</span>
      </article>
      <article class="leaderboard__profile">
        <img src="https://www.liblogo.com/img-logo/hi2716h4b1-hive-blockchain-logo-hive-medium.png" alt="Polygon Hive" class="leaderboard__picture">
        <img src="https://static.vecteezy.com/system/resources/previews/005/597/229/original/polygon-logo-crypto-currency-symbol-isolated-vector.jpg" alt="Polygon" class="leaderboard__token_logo">
        <span class="leaderboard__name">pHIVE</span>
      </article>
      <article class="leaderboard__profile">
        <img src="./assets/hbd-green.png" alt="Polygon Hive Backed Dollar" class="leaderboard__picture">
        <img src="https://static.vecteezy.com/system/resources/previews/005/597/229/original/polygon-logo-crypto-currency-symbol-isolated-vector.jpg" alt="Polygon" class="leaderboard__token_logo">
        <span class="leaderboard__name">pHBD</span>
      </article>
      <article class="leaderboard__profile">
        <img src="https://s2.coinmarketcap.com/static/img/coins/200x200/11035.png" alt="Polygon Splintershards" class="leaderboard__picture">
        <img src="https://static.vecteezy.com/system/resources/previews/005/597/229/original/polygon-logo-crypto-currency-symbol-isolated-vector.jpg" alt="Polygon" class="leaderboard__token_logo">
        <span class="leaderboard__name">pSPS</span>
      </article>

      <br><div class='footer'><center>Operated by <a href="https://leofinance.io" target="_blank">LeoFinance</a>, <script>document.write(new Date().getYear() + 1900)</script></center></div>

    </main>
  </body>
</html>
