<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <script src="./ABI.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@hiveio/hive-js/dist/hive.min.js"></script>
    <title>BNB Smart Chain HIVE Bridge</title>
    <link rel="icon" href="./hbd.png" sizes="any">
    <link rel="stylesheet" href="./style.css">
    <script src="./web3.js"></script>
    <script src="./axios.js"></script>
  </head>
  <body>
  <div class="container" id="container">
  	<div class="form-container sign-in-container">
  		<form>
  			<h1>Hive to BNB Smart Chain</h1>
  			<div class="social-container"></div>
  			<span>Transfer native HIVE to BNB Smart Chain.</span>
  			<input type="text" placeholder="Receiving BSC address"  id='polygon_address'/>
  			<input type="text" placeholder="Amount" id='hive_amount'/>
  			<button type="button" class='hive' onclick="wrap()">Transfer</button>
  		</form>
  	</div>
  	<div class="form-container sign-up-container">
  		<form>
  			<h1>BNB Smart Chain to Hive</h1>
        <div class="social-container"></div>
  			<span>Transfer bHIVE back to Hive.</span>
  			<input type="text" placeholder="Hive username" id='hive_address'/>
        <input type="text" placeholder="Amount" id='polygon_amount'/>
        <div><button type="button" onclick="unwrap()">Transfer</button></div>
  		</form>
  		</form>
  	</div>
  	<div class="overlay-container">
  		<div class="overlay">
  			<div class="overlay-panel overlay-left">
  				<h1>HIVE Bridge</h1>
          <p>Transfer bHIVE tokens back to Hive.<br><br><small>Bridge operated by <a href="https://leofinance.io" target="_blank">LeoFinance</a></small></p>
  				<button class="ghost" id="to_polygon">Or to Polygon</button>
  			</div>
  			<div class="overlay-panel overlay-right">
  				<h1>HIVE Bridge</h1>
  				<p>Transfer native HIVE coins to BNB Smart Chain.<br><br><small>Bridge operated by <a href="https://leofinance.io" target="_blank">LeoFinance</a></small></p>
  				<button class="ghost" id="to_hive">Or transfer them back</button>
  			</div>
  		</div>
  	</div>
  </div>
    <script  src="./script.js"></script>
  </body>
</html>
